.DS_Store
.idea/
.vscode/
*.swp
*~

# Swift
.build/
.swiftpm/
dist/

# Xcode / Swift
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
